.advantage {
  text-align: center;
  background-color: #eeeeee;
  padding: 40px 18px 35px 18px;

  &--detail {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--first-size {
    padding-top: 51px;
    padding-bottom: 39px;
  }

  &--reason {
    text-align: start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 66px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 18px 6px;

    &:first-child {
      padding-top: 32px;
    }

    &:last-child {
      padding-bottom: 51px;
    }
  }

  &--housing {
    background-image: url("/img/reason-housing.svg");
    background-position: 18px 23px;
  }

  &--food {
    background-image: url("/img/reason-food.svg");
  }

  &--souvenirs {
    background-image: url("/img/reason-souvenirs.svg");
  }

  &--no-detail {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 18px;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      border-bottom: none;
    }
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;

  &--reason {
    margin-bottom: 16px;
  }
}

.advantage__title br {
  display: none;
}

.advantage__number {
  display: block;
  margin-bottom: 17px;
}

.advantage__description {
  margin: 0;
}

.advantage__break-line {
  display: none;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantage {
    min-height: 256px;
    min-width: 256px;
    padding: 42px 30px;

    &--detail {
      width: 33.33%;
    }

    &--first-size {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &--reason {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 33.33%;
      min-height: 330px;
      padding-top: 159px;
      padding-right: 32px;
      padding-bottom: 42px;
      padding-left: 32px;
      background-size: 80px 80px;
      background-position: 50% 56px;

      &:first-child {
        padding-top: 159px;
      }

      &:last-child {
        padding-bottom: 42px;
      }
    }

    &--housing {
      background-size: 76px 78px;
    }

    &--food {
      background-position: 50% 57px;
      background-size: 76px 78px;
    }

    &--souvenirs {
      background-size: 80px 79px;
    }

    &--no-detail {
      width: 33.33%;
      padding-top: 42px;
      padding-bottom: 42px;
      padding-left: 39px;
      padding-right: 39px;
      margin: 0;

      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }

  .advantage__description {
    max-width: 100%;
    margin: 0 auto;
  }

  .advantage__title {
    font-size: 21px;
    max-width: 80%;
    margin: 0 auto 14px;
  }

  .advantage__title br {
    display: inline;
  }

  .advantage__title--reason {
    margin-bottom: 22px;
  }

  .advantage__number {
    margin-bottom: 22px;
  }

  .advantage__break-line {
    display: inline;

    &--desktop {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantage {
    padding: 42px 55px;

    &--detail {
      width: 33.33%;
      padding-top: 52px;
    }

    &--first-size {
      padding-top: 48px;
    }

    &--reason {
      text-align: center;
      width: 33.33%;
      min-height: 330px;
      padding-top: 159px;
      padding-right: 48px;
      padding-bottom: 42px;
      padding-left: 48px;

      &:last-child {
        padding-bottom: 42px;
      }
    }

    &--no-detail {
      width: 33.33%;
      padding-top: 42px;
      padding-bottom: 42px;
      margin: 0;

      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }

  .advantage__title {
    max-width: 55%;
  }

  .advantage__break-line {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline;
    }
  }
}
