.page-content__logo-wrapper {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 85px;
  margin-bottom: 35px;
  background-image: url("../../img/background-image-mobile-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #6c390f;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0 95%);

  &--inner {
    background-image: url("../../img/background-image-mobile-2.jpg");
    padding-top: 52px;
    padding-bottom: 67px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
  }
}

.page-content__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}

.page-content__advantages {
  margin-bottom: 20px;
}

.page-content__hotel-search {
  margin-bottom: 31px;
}

.page-content__map {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .page-content__logo-wrapper {
    padding-top: 77px;
    padding-bottom: 91px;
    margin-bottom: 47px;
    background-image: url("../../img/background-image-desktop.jpg");
    clip-path: polygon(0% 0%, 0 94%, 4% 95%, 4% 89%, 50% 100%, 96% 89%, 96% 95%, 100% 94%, 100% 0%);
    &--inner {
      padding-top: 95px;
      padding-bottom: 117px;
      clip-path: polygon(0% 0%, 0 94%, 4% 95%, 4% 89%, 50% 100%, 96% 89%, 96% 95%, 100% 94%, 100% 0%);
    }
  }

  .page-content__title {
    padding: 0 75px 0 75px;
    margin-bottom: 26px;
  }

  .page-content__title-line-break {
    display: none;
  }

  .page-content__advantages {
    margin-bottom: 41px;
  }

  .page-content__hotel-search {
    margin-bottom: 38px;
  }

  .page-content__map {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-content__logo-wrapper {
    padding-top: 78px;
    padding-bottom: 90px;
    clip-path: polygon(0 0, 100% 0, 100% 88.2%, 79.2% 93.2%, 79.2% 88.2%, 50% 100%, 20.8% 88.2%, 20.8% 93.2%, 0 88.2%);
    &--inner {
      padding-top: 101px;
      padding-bottom: 120px;
    }
  }

  .page-content__title {
    padding: 0 292px 0 292px;
    margin-bottom: 26px;
  }
}
