@media (max-width: @mobile-width-only) {
  .page-container--form,
  .page-container--gallery {
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .page-container {
    padding: 0 60px 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-container {
    padding: 0 120px 0 120px;

    &--gallery {
      padding: 0;
    }
  }
}
