.advantage {
  text-align: center;
  background-color: #eeeeee;

  &--detail {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--reason {
    text-align: start;
    background-color: #ffffff;
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.advantage__description {
  margin: 0;
}
