.advantages__description {
  padding: 0 18px 0 18px;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .advantages__description {
    padding: 0 60px 0 60px;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description {
    padding: 0 120px 0 120px;
    margin-bottom: 55px;
  }
}
