.inputs-group {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

.inputs-group__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inputs-group__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
