.inputs-group {
  margin-right: 0;
  margin-left: 0;
  padding: 0 20px 39px 20px;
  border-left: none;
  border-right: none;
  border-top: none;
}

.inputs-group__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.inputs-group__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding: 24px 0 20px 0;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .inputs-group {
    border-bottom: none;
    padding: 0;
  }

  .inputs-group__title {
    padding: 28px 0 28px 0;

    &--solo-group {
      max-width: 365px;
      padding-left: 65px;
      padding-right: 65px;
    }
  }

  .inputs-group__title--decorated {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  .inputs-group__title-text {
    position: relative;
    display: inline-block;
    max-width: 365px;
    padding: 0 65px 0 65px;
    background-color: #ffffff;
  }

  .inputs-group__list {
    &--radio {
      margin: 0 36px 0 36px;
    }

    &--checkbox {
      margin: 0 84px 0 84px;
    }
  }

  .inputs-group__list--radio,
  .inputs-group__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .inputs-group__list {
    column-gap: 28px;

    &--radio {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 53px 0 53px;
    }

    &--checkbox {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 44px 0 44px;
    }
  }
}
