.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 210px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social-list__link:active .social-list__icon  {
  fill-opacity: 30%;
}
