.likes {
  display: flex;
  max-width: 100px;
}

.likes__icon {
  margin-right: 9px;
}

.likes__counter {
  padding-top: 3px;
}

@media (min-width: @desktop-width) {
  .likes {
    color: #ffffff;
  }
}
