.post {
  text-align: center;
}

.post__title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.post__author {
  margin: 0;
  text-transform: none;
}

.post__author-name {
  font-style: normal;
}
